{
  "type": "mysql",
  "host": "localhost",
  "port": 3306,
  "username": "root",
  "password": "",
  "database": "stepflow",
  "entities": ["dist/**/*.entity{.ts,.js}"],
  "synchronize": true,
  "dropSchema": true
}